Steps:
1. Parse/Read parquet file using pandas
2. Transform timestamp columns in dataform
3. Create and Load postgres table in batch

In [1]:
import pandas as pd
import pyarrow.parquet as pq
import psycopg2

In [2]:
pd.__version__

'2.2.3'

In [3]:
# Open the Parquet file
# parquet_file = pq.ParquetFile('yellow_tripdata_2024-01.parquet')
parquet_file = pq.ParquetFile("yellow_tripdata_2024-01.parquet")

In [4]:
# Initialize an empty DataFrame to store the rows
df = pd.DataFrame()

In [5]:
# Iterate over the file in batches until we have 100 rows
for batch in parquet_file.iter_batches(batch_size=100):
    # Convert the batch to a pandas DataFrame
    batch_df = batch.to_pandas()
    # Append the batch DataFrame to the main DataFrame
    df = pd.concat([df, batch_df])
    # Break the loop if we have reached 100 rows
    if len(df) >= 100:
        df = df.head(100)
        break

In [6]:
# df now contains the first 100 rows
print(df)

    VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0          2  2024-01-01 00:57:55   2024-01-01 01:17:43                1
1          1  2024-01-01 00:03:00   2024-01-01 00:09:36                1
2          1  2024-01-01 00:17:06   2024-01-01 00:35:01                1
3          1  2024-01-01 00:36:38   2024-01-01 00:44:56                1
4          1  2024-01-01 00:46:51   2024-01-01 00:52:57                1
..       ...                  ...                   ...              ...
95         2  2024-01-01 00:54:16   2024-01-01 01:27:40                1
96         2  2024-01-01 00:13:58   2024-01-01 00:33:39                1
97         2  2024-01-01 00:35:53   2024-01-01 00:47:59                1
98         2  2024-01-01 00:50:28   2024-01-01 01:38:39                1
99         2  2024-01-01 00:18:24   2024-01-01 00:30:39                1

    trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0            1.72           1                  N           186            79
1            1.80           1                  N           140           236
2            4.70           1                  N           236            79
3            1.40           1                  N            79           211
4            0.80           1                  N           211           148
..            ...         ...                ...           ...           ...
95          13.74           1                  N           239            95
96           4.20           1                  N           148           237
97           1.14           1                  N           237           233
98          20.34           1                  N           132            26
99           2.16           1                  N           249           232

    payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0              2         17.7    1.0      0.5        0.00          0.00
1              1         10.0    3.5      0.5        3.75          0.00
2              1         23.3    3.5      0.5        3.00          0.00
3              1         10.0    3.5      0.5        2.00          0.00
4              1          7.9    3.5      0.5        3.20          0.00
..           ...          ...    ...      ...         ...           ...
95             1         56.9    1.0      0.5       13.77          6.94
96             1         21.9    1.0      0.5        5.38          0.00
97             1         11.4    1.0      0.5        3.28          0.00
98             1         80.0    1.0      0.5        2.00          0.00
99             4        -13.5   -1.0     -0.5        0.00          0.00

    improvement_surcharge  total_amount  congestion_surcharge  Airport_fee
0                     1.0         22.70                   2.5         0.00
1                     1.0         18.75                   2.5         0.00
2                     1.0         31.30                   2.5         0.00
3                     1.0         17.00                   2.5         0.00
4                     1.0         16.10                   2.5         0.00
..                    ...           ...                   ...          ...
95                    1.0         82.61                   2.5         0.00
96                    1.0         32.28                   2.5         0.00
97                    1.0         19.68                   2.5         0.00
98                    1.0         86.25                   0.0         1.75
99                   -1.0        -18.50                  -2.5         0.00

[100 rows x 19 columns]

In [7]:
from sqlalchemy import create_engine

In [8]:
# Create postgres engine
engine = create_engine('postgresql://admin:password@localhost:5432/ny_taxi')
engine.connect()

In [9]:
#Create table schema 
df.head(0).to_sql(name = "yellow_taxi_data", con=engine, if_exists='replace')

0

In [10]:
pd.read_sql("select count(*) from yellow_taxi_data;", con=engine)

   count
0      0

In [11]:
# Define the batch size
batch_size = 100000
max_rows_inserted = 0

# Iterate over the file in batches
for batch in parquet_file.iter_batches(batch_size=batch_size):
 
    # Limit max rows inserted to the table
    max_rows_inserted = max_rows_inserted + batch_size
    if max_rows_inserted > 200001:
        break
        
    # Convert the batch to a pandas DataFrame
    df = batch.to_pandas()

    # Replace table if loading first batch
    load_mode = 'replace' if max_rows_inserted == batch_size else 'append'
    
    # Insert the DataFrame into the PostgreSQL table
    df.to_sql('yellow_taxi_data', engine, if_exists=load_mode, index=False)
    print(f' {max_rows_inserted} rows inserted')

 100000 rows inserted
 200000 rows inserted